html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Verdana;
  color: #000;
  background: #fff;
  font-size: 16px;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.left, .right {
  width: 50%;
  height: 100%;
}
.left {
  float: left;
  border-right: 1px solid #999;
}
.right {
  float: right;
}
.output {
  height: calc(100% - 30px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 300ms, border-top 300ms;
  -webkit-transition: opacity 300ms, border-top 300ms;
  border-top: 0px solid #F00;
}
.error {
  color: #9f0000;
  font-weight: bold;
}
.output[data-status="error"] {
  border-top: 26px solid #F00;
}
.CodeMirror {
  height: auto;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  opacity: 1;
}
.output[data-status="error"] .CodeMirror{
  opacity: 0.2;
}

/* output navigation */
.nav-output {
  font-size: 0.7em;
  height: 30px;
  border-top: 1px solid #ddd;
  padding: 9px;
}
.nav-output a {
  display: inline-block;
  margin-right: 0.6em;
  color: #000;
  text-decoration: none;
}
.nav-output a:hover {
  text-decoration: underline;
}

/* message */
.message {
  display: none;
  position: absolute;
  top: 4px;
  right: 0;
  width: 50%;
  text-align: center;
  padding-left: 10px;
  color: #fff;
  font-size: 0.8em;
}